.paragraph .slick-prev,
.paragraph .slick-next {
  top: 40%;
}

.paragraph .slick-prev:before,
.paragraph .slick-next::before {
  opacity: 1;
  color: #fff;
  font-size: 47px;
}

@media (min-width: 960px) {
  .paragraph .slick-prev:before,
  .paragraph .slick-next::before {
    color: #000;
  }
}

.paragraph .slick-prev {
  left: 22px;
  z-index: 1;
}

@media (min-width: 960px) {
  .paragraph .slick-prev {
    left: -50px;
  }
}

.paragraph .slick-next {
  right: 65px;
  z-index: 1;
}

@media (min-width: 960px) {
  .paragraph .slick-next {
    right: -25px;
  }
}

.paragraph .slick-active img {
  padding-right: 20px;
}

.paragraph .field--name-field-carousel-item-caption {
  padding: 10px;
  font-weight: bold;
  margin-right: 20px;
  background: #000;
  color: #fff;
  min-height: 146px;
}

@media (min-width: 700px) {
  .paragraph .field--name-field-carousel-item-caption {
    line-height: 0.5em;
    min-height: 119px;
  }
}

.paragraph .field--name-field-carousel-item-caption p {
  line-height: 1.7em;
  padding: 0 0 .5em 0;
}

.paragraph .field--name-field-carousel-item-caption a {
  color: #fff;
}
